body {
    overflow-x: hidden;
    
}

#page1 {
    position: relative;
    height: 650px;
    border-bottom: 7px solid #3e4145;
}
#page-1-body{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
#page1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix_background.png)  ;
    background-size: cover;
    background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover


}

.custom-select {
    position: relative;
    display: inline-block;
    width: 180px;
}

.custom-select select {
    background-color: initial;
    font-weight: bold;
    color: white;
    border-color: darkgrey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 25px;

}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 18%;
    right: 10%;
    transform: translateY(-50%);
    transform: scale(0.5);
    pointer-events: none;
    color: white;
}

#lang-box-down::after{
    position: absolute;

}


#navbar-t{
    bottom: 10%;
    padding-left: 10%;
    padding-top: 2%;
    height: 100px fixed;
}

#navbar-r{
    margin-top: 2%;
    margin-right: 12%;
}

.sign-up-flex {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}



#signin-button{
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 0 10px;
    padding-left: 0;
    padding-right: 0;
    width: 120px;
    height: 35px;
}
#get-started-button {
    flex: 1;
    text-align: left;
}
#signup-form{
    margin-left: 20%;
}

.form-floating {
    /* flex: 50%; */
    flex: 1;
    flex-direction: row;
    /* margin-right: 10px; */
    width: 500px;
    min-width: 250px;
}

#flex-bottom{
    margin-left: 20%;
}

#middle-head-1{
    color: white;
    font-weight: 700;
    white-space: nowrap;
}

#middle-head-2{
    color: white;
    margin-bottom: 4%;

}

#middle-head-3{
    color: white;
    margin-bottom: 2%;

}

#floatingInputGrid{
    background-color: #303030;
    opacity: 0.8;
    max-width: 380px;
    width: 100%;
}

#signup-grid{
    position: relative;
    left: 16%;
}




#second-container{
    height: 529px;
    color: white;
    background-color: black;
    background-size: cover;
    border-bottom: 7px solid #3e4145;
    display: flex;
    flex-direction: row;
 
}
.flex-left{
    flex: 50%;
    
}

#flex-left-1{
text-align: left;
    padding-top: 12%;
    padding-left: 12%;
}

.flex-right{
    flex: 50%;
}

#second-container-col-1-line-1{
    font-weight: bolder;
    position: relative;
}

#second-container-col-1-line-2{
    position: relative;
}


#flex-right-1{
    position: relative;
    
}

#feature-1-cluster{
position: relative;
    height: 380px;
    width: 500px;
}
#feature-1{
    position: absolute;
    height: 380px;
    width: 500px;
    z-index: 2;
}
#feature-1-video{
    height: 255px;
    width: 362px;
    position: absolute;
    margin-top: 11%;
    margin-left: 13%;

}

#feature-2-cluster{
    position: relative;
    height: 340px;
    width: 300px;
}
#feature-2{
    position: absolute;
    height: 340px;
    width: 300px;
}

#gif-div{
    height: 40px;
    width: 40px;
    position: absolute;
    margin-top: 75%;
    margin-left: 80%;
    background: url(download-icon.gif) center;
    background-size: 100%;
    z-index: 5;

}

#feature-3-cluster{
    position: relative;
    height: 380px;
    width: 510px;
    margin-top: 10%;
}

#feature-3{
    height: 380px;
    width: 510px;
    position: absolute;

    z-index: 2;
}

#feature-3-video{
    height: 320px;
    width: 310px;
    position: absolute;
    margin-top: -8%;
    margin-left: 19%;
}

#third-container{
    height: 529px;
    background-color: black;
    background-size: cover;
    border-bottom: 7px solid #3e4145;
    display: flex;
    color: white;
}

#flex-right-2{
padding-top: 9%;
padding-right: 12%;
}

#flex-left-2{
    padding-left: 18%;
    padding-top: 7%;
}

#third-container-col-1{
    color: white;
}

#third-container-col-1-line-1{
    font-weight: bolder; 
}


#fourth-container {
    height: 529px;
    background-color: black;
    background-size: cover;
    border-bottom: 7px solid #3e4145;
    display: flex;
    color: white;
}

#fourth-container-col-1 {
    color: white;
    position: relative;
}

#fourth-container-col-1-line-1 {
    position: relative;
    font-weight: bolder;

}

#fourth-container-col-1-line-2 {
    position: relative;
    font-weight: bolder;

}


#fifth-container {
    height: 529px;
    background-color: black;
    background-size: cover;
    border-bottom: 7px solid #3e4145;
    display: flex;
    color: white;
}

#fifth-container-col-1 {
    color: white;
    position: relative;

}

#fifth-container-col-1-line-1 {
    font-weight: bolder;
    position: relative;


}

#fifth-container-pic{
    height: 400px;
    width: 520px;
    position: relative;

}

#flex-left-4{
    padding-top: 5%;
}
#flex-right-4{
    padding-top: 12%;
    padding-right: 13%;
}

#FAQ-container{
    height: fit-content;
    background-color: black;
    border-bottom: 7px solid #3e4145;   
    padding-bottom: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
text-align: center;
}

#FAQ-heading{
    color: white;
    font-weight: bolder;
    position: relative;
    padding: 68px 0 20px 0;
}


.accordion-item{
    margin: 0 0 0 12%;
    border: 8px solid black;
    width: 75%;
    font-size: larger;
    
}


.accordion-item {
    background-color: #303030;

    
}

.accordion-button {
    color: white;
        background-color: #303030;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;

}

.accordion-body {
    background-color: #303030;
    color: white;
    font-size: larger;
}

.accordion-button.collapsed {
    background-color: #303030;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: large;
}

#FAQ-part-3{
    position: relative;
    top: 7%;
    margin-top: 3%;
    text-align: center;

    
}
#FAQ-part-3-line-1{
    color: white;
    

        text-align: center;
}



#contact-container{
    height: 405px;
    background-color: black;
    background-size: cover;
}

#contact-container{
    color: #aba1a1;
    font-size:14px;
}

#call-no{
    margin: 0 0 0 150px;
    position: relative;
    top: 65px;
    font-size: 16px;
}




#contact-box{
    display: flex;
    flex-wrap: wrap;
    margin: 83px 0 0 140px;
}

.col-2{
    margin-right: 60px;
}

#contact-col-1,#contact-col-2,#contact-col-3,#contact-col-4{
    flex: 25%;
}
#footer-lang-box{
    padding-left: 10%;
}


@media only screen and (max-width: 800px) {
#middle-head-1 {
        color: white;
        font-weight: 700;
        white-space: wrap;
        /* max-width: 650px; */

    }
#navbar-t {
    padding-left: 0%;
    padding-top: 6%;
    margin-right: -5%;
}

#second-container {
    flex-direction: column;
    height: fit-content;
    /* text-align: center; */
}

#third-container{
    flex-direction: column;
    height: fit-content;
    /* text-align: center; */
}

#fourth-container{
    flex-direction: column;
    height: fit-content;
}

#fifth-container{
    flex-direction: column;
    height: fit-content;
}

#contact-container{
    height: fit-content;
}


#gif-div {
height: 30px;
width: 30px;
}

#feature-1-cluster{
    height: 285px;
    width: 375px;
    margin-left: 15%

}

#feature-1{
    height: 285px;
    width: 375px;
}

#feature-2-cluster{
    height: 255px;
    width: 225px;
    margin-left: 15%
}
#feature-2{
    height: 255px;
    width: 225px;
}

#feature-3-cluster{
    height: 280px;
    width: 382.5px;
    margin-left: 15%
}
#feature-3{
    height: 280px;
    width: 382.5px;
}

#feature-3-video{
    width: 232.5px;
    height: 240px;
}

#fifth-container-pic{
    height: 200px;
    width: 260px;
}

#feature-1-video{
    height: 191.25px;
    width: 271.5px;
}
#flex-left-4 {
        margin-left: 15%
}
#flex-left-1{
    text-align: center;
    padding-top: 12%;
    padding-left: 0%;
}
#flex-right-2,#flex-right-4{
    text-align: center;
}
#get-started-button {
    /* flex: 50%; */
    flex: 1;
    text-align: center;
}
#floatingInputGrid {
    /* flex: 50%; */
    width: auto;
}
.form-floating{
text-align: center;
}

.sign-up-flex{
    flex-direction: column;
}
}


@media only screen and (max-width: 500px) {
#feature-1-cluster {

    margin-left: 0%;
}


#feature-2-cluster {

    margin-left: 0%
}



#feature-3-cluster {
    height: 280px;
    width: 382.5px;
    margin-left: 0%;
}
#flex-bottom{
    margin-left: 0%;
}

/* 
#flex-left-4 {
    margin-left: 0%;
} */
}